@page "/"

@if (ListServices is null)
{
    <Loading />
}
else
{
        <div class="d-flex align-items-center justify-content-between">
            <AuthorizeView>
                <Authorized>
                    @if (counter > 0)
                    {
                        <a href="/Cart/ShowCart" class="btn btn-primary"><i class="bi bi-cart-fill" /> Ver Carro de Compras (@counter)</a>
                    }
                </Authorized>
            </AuthorizeView>
        </div>
     <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            @foreach (var service in ListServices!)
            {
                <div class="mat-layout-grid-cell" style="max-width: 800px;">
                    <MatCard class="demo-mat-card">
                    <div class="demo-mat-card-content">
                        <MatHeadline6 class="demo-mat-card-clean-margin">
                            @service.Name
                        </MatHeadline6>
                        <MatSubtitle2 class="demo-mat-card-clean-margin">
                            @service.User!.FullName
                        </MatSubtitle2>
                    </div>
                    <MatCardContent>
                        <MatCardMedia Wide="true" ImageUrl="@service.Photo"></MatCardMedia>
                        <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                            @service.Detail
                        </MatBody2>
                    </MatCardContent>
                    <MatCardActions>
                        <MatCardActionButtons>
                            <MatButton>Detalle</MatButton>
                            <MatButton OnClick=@(() => AddToCartAsync(service.Id))>Agregar a Cesta</MatButton>
                        </MatCardActionButtons>
 
                        <MatCardActionIcons>
                            <MatIconButton Icon="@MatIconNames.Favorite"></MatIconButton>
                        </MatCardActionIcons>
                    </MatCardActions>
                </MatCard>
            </div>
            }
        </div>
    </div>
}

