@page "/changePassword"

@if (loading)
{

    <Loading />
}
                  
      <EditForm Model="changePasswordDTO" OnValidSubmit="ChangePasswordAsync">
        <DataAnnotationsValidator/>
        <MatDialogTitle>Cambiar Contraseña</MatDialogTitle>
        <MatDialogContent>
            <div class="mat-layout-grid">
                <div class="mat-layout-grid-inner">
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                        <p>
                            <MatTextField class="form-control" type="password" Label="Contraseña Actual" @bind-Value="@changePasswordDTO.CurrentPassword" />
                            <ValidationMessage For="@(() => changePasswordDTO.CurrentPassword)" />
                        </p>
                        <p>
                            <MatTextField class="form-control" type="password" Label="Nueva Contraseña" @bind-Value="@changePasswordDTO.NewPassword" />
                            <ValidationMessage For="@(() => changePasswordDTO.NewPassword)" />
                        </p>
                        <p>
                            <MatTextField class="form-control" type="password" Label="Nueva Contraseña" @bind-Value="@changePasswordDTO.Confirm" />
                            <ValidationMessage For="@(() => changePasswordDTO.Confirm)" />
                        </p>
                        <MatDialogActions>
                             <MatButton type="button" OnClick="CloseModalAsync">Regresar</MatButton>
                             <MatButton type="submit">Guardar Cambios</MatButton>
                        </MatDialogActions>
                    </div>
                </div>
            </div>
  
        </MatDialogContent>
        
 </EditForm>

