@page "/EditUser"

@if (user is null)
{
        <Loading />
}
else
{
     
 <EditForm Model="user" OnValidSubmit="SaveUserAsync">
        <DataAnnotationsValidator/>
        <MatDialogTitle>Editar Usuario</MatDialogTitle>
        <MatDialogContent>
            <div class="mat-layout-grid">
                <div class="mat-layout-grid-inner">
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                       <p>
                            <MatTextField class="form-control" Label="Nombre" @bind-Value="@user.FirstName" />
                            <ValidationMessage For="@(() => user.FirstName)" />
                        </p>
                        <p>
                             <MatTextField class="form-control" Label="Apellido" @bind-Value="@user.LastName" />
                             <ValidationMessage For="@(() => user.LastName)" />
                        </p>
                        <p>
                             <MatTextField class="form-control" Label="Documento" @bind-Value="@user.Document" />
                             <ValidationMessage For="@(() => user.Document)" />
                        </p>
                        <p>
                            <MatTextField class="form-control" Label="Telefono" @bind-Value="@user.PhoneNumber" />
                            <ValidationMessage For="@(() => user.PhoneNumber)" />
                        </p>
                        <p>
                            <MatTextField class="form-control" Label="Direccion" @bind-Value="@user.Address" />
                            <ValidationMessage For="@(() => user.Address)" />
                        </p>
                        <p>
                            <MatTextField class="form-control" Label="Correo Electronico" @bind-Value="@user.Email" />
                            <ValidationMessage For="@(() => user.Email)" />
                        </p>
                        
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                        <p>
                            
                                <select class="form-select" @onchange="CountryChangedAsync">
                                   <option value="0">-- Seleccione un país --</option>
                               @if (countries is not null)
                               {
                                   @foreach (var country in countries)
                                   {
                                                   <option value="@country.Id" selected="@(country.Id == user.City!.State!.Country!.Id)">@country.Name</option>
                                   }
                               }
                               </select>

                        </p>
                        <p>
                              <select class="form-select" @onchange="StateChangedAsync">
                                   <option value="0">-- Seleccione un estado/departamento --</option>
                               @if (states is not null)
                               {
                                   @foreach (var state in states)
                                   {
                                                   <option value="@state.Id" selected="@(state.Id == user.City!.State!.Id)">@state.Name</option>
                                   }
                               }
                               </select>

                        </p>
                        <p>
                            <select class="form-select" @bind="user.CityId">
                                   <option value="0">-- Seleccione una ciudad --</option>
                               @if (cities is not null)
                               {
                                   @foreach (var city in cities)
                                   {
                                                   <option value="@city.Id" selected="@(city.Id == user.City!.Id)">@city.Name</option>
                                   }
                               }
                               </select>
                            <ValidationMessage For="@(() => user.CityId)" />
                        </p>
                        <p>
                            <InputImg Label="Foto" ImageSelected="ImageSelected" ImageURL="@imageUrl" />
                        </p>
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                    <MatDialogActions>
                             <MatButton type="button" OnClick="CloseModalAsync">Regresar</MatButton>
                             <MatButton type="submit">Guardar Cambios</MatButton>
                        </MatDialogActions>
                    </div>
                </div>
            </div>
  
        </MatDialogContent>
        
 </EditForm>
}

