@page "/services"
<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner"> 
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
            <div class="mat-h4">
                Servicios <MatButton Icon="add"OnClick=@(() => ShowModal())></MatButton>
            </div>
        </div>

        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
            <MatTable Items="@ListServices" LoadInitialData="true" Striped="true" RequestApiOnlyOnce="true" AllowSelection="true" RowCListServiceslass="tester"
                  FilterByColumnName="Name" DebounceMilliseconds="150" class="mat-elevation-z5" ShowPaging="true">
                <MatTableHeader>
                    <th>Id</th>
                    <th>Imagen.....</th>
                    <th>Categoria</th>
                    <th>Nombre</th>
                    <th>Detalle</th>
                    <th>Precio</th>
                    <th>Proveedor</th>
                    <th>Acciones</th>
                </MatTableHeader>
                <MatTableRow>
                    <td>@context.Id</td>
                    <td> <img src="@context.Photo" style="width:100px;" /></td>
                    <td>@context.Category?.Name</td>
                    <td>@context.Name</td>
                    <td>@context.Detail</td>
                    <td>@context.Price</td>
                    <td>@context.User.LastName</td>
                    <td>
                        <MatButton  Icon="border_color" OnClick="@(() => ShowModal(@context.Id, isEdit: true))"></MatButton>
                        <MatButton Icon="delete" @onclick=@(() => DeleteAsync(@context))></MatButton>
                    </td>
                </MatTableRow>
            </MatTable>
        </div>

     </div>
  </div>


