@page "/services/edit/{Id:int}"


@if (loading)
{
    <Loading />
}
else
{
<EditForm EditContext="editContext" OnSubmit="EditAsync">
        <DataAnnotationsValidator />
            <MatDialogTitle>Editar Servicio</MatDialogTitle>
            <MatDialogContent>
                <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                <p>
                    <select class="form-select" @bind="Service!.CategoryId">
                    <option value="0">-- Seleccione una categoria --</option>
                    @if (categories is not null)
                    {
                        @foreach (var category in categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    }
                </select>
                <ValidationMessage For="@(() => Service!.CategoryId)" />
                </p>
                  <p>
                    <MatTextField type="text"  Label="Nombre Servicio" class="form-control" @bind-Value="@Service.Name" />
                        <ValidationMessage For="@(() =>  Service.Name)" />
                </p>
                <p>
                    <MatTextField type="text"  Label="Detalle Servicio" class="form-control" @bind-Value="@Service.Detail" />
                        <ValidationMessage For="@(() =>  Service.Detail)" />
                </p>
                <p>
                    <MatTextField type="text"  Label="Precio Servicio" class="form-control" @bind-Value="@Service.Price" />
                        <ValidationMessage For="@(() =>  Service.Price)" />
                </p>
                <p>
                   <InputImg Label="Foto" ImageSelected="ImageSelected" ImageURL="@imageUrl" />
                </p>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                    <MatDialogActions>
                        <MatButton Type="button" OnClick="CloseModalAsync">No Gracias</MatButton>
                        <MatButton Type="submit">Guardar Cambios</MatButton>
                    </MatDialogActions>
                </div>
                </div>
                </div>
            </MatDialogContent>
    </EditForm>
    

}