@page "/services/create"

@if (loading)
{
    <Loading/>
}
else
{
                  
        <EditForm EditContext="editContext" OnSubmit="CreateAsync">
        <DataAnnotationsValidator/>
        <MatDialogTitle>Crear Servicio</MatDialogTitle>
        <MatDialogContent>
            <div class="mat-layout-grid">
                <div class="mat-layout-grid-inner">
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                <p> 
                    <select class="form-select" @bind="Service!.CategoryId">
                        <option value="0">-- Seleccione una categoria --</option>
                        @if (categories is not null)
                        {
                            @foreach (var category in categories)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        }
                    </select>
                    <ValidationMessage For="@(() => Service!.CategoryId)" />
                 
                </p>
                <p>
                    <select class="form-select" @bind="Service!.PeopleId">
                       <option value="0">-- Seleccione un proveedor --</option>
                            @if (categories is not null)
                            {
                                @foreach (var people in peoples!)
                                {
                                      <option value="@people.Id">@people.Name</option>
                                }
                            }
                     </select>
       
                     <ValidationMessage For="@(() => Service!.PeopleId)" />
                </p>
                        
                <p>
                    <MatTextField class="form-control" type="text" Label="Nombre" @bind-Value="Service!.Name" />
                    <ValidationMessage For="@(() => Service.Name)" />
                </p>
                <p>
                  <MatTextField class="form-control" type="text" Label="Detalle" @bind-Value="Service!.Detail" />
                   <ValidationMessage For="@(() => Service.Detail)" />
            </p>
            <p>
              <MatTextField class="form-control" type="text" Label="Valor" @bind-Value="Service!.Price" />
              <ValidationMessage For="@(() => Service.Price)" />
           </p>
                      
                        <MatDialogActions>
                             <MatButton type="button" OnClick="CloseModalAsync">Regresar</MatButton>
                             <MatButton type="submit">Guardar Cambios</MatButton>
                        </MatDialogActions>
                    </div>
                </div>
            </div>
  
        </MatDialogContent>
        
 </EditForm>
}