@page "/ShowCart"
@if (loading)
{
    <Loading />
}
else
{
    <MatDialogTitle>Servicios a contratar</MatDialogTitle>
<MatDialogContent>
<div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
    <div class="mat-h6">
        Total: 
    </div>
    <div class="mat-h6">
        Cantidad: @counter
    </div>
</div>
<MatTable Items="@temporalOrders" class="mat-elevation-z5" ShowPaging="false" UseSortHeaderRow="false">
    <MatTableHeader>
        <th>#</th>
        <th>Servicio</th>
        <th>Precio</th>
        <th></th>
    </MatTableHeader>
    <MatTableRow>
        <td> <img src="@context.Service!.Photo" style="width:100px;" /></td>
        <td>@context.Service.Name</td>
        <td>@context.Service.Price</td>
        <td><MatIconButton Icon="cancel"></MatIconButton></td>
    </MatTableRow>
</MatTable>
<div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
    <MatDialogActions>
                <MatButton Type="button" OnClick="@(() => CloseCartModal())">Servicios</MatButton>
                <MatButton Type="submit" OnClick="@(() => ConfirmOrderAsync())"  Raised="true">Confirmar Solicitud</MatButton>
    </MatDialogActions>
</div>
</MatDialogContent>
}