<AuthorizeView>
    <Authorized>
        <span class="d-flex align-items-center">
            Hola, <a href="EditUser" class="nav-link btn btn-link">@context.User.Identity!.Name</a>
        </span>        
        @if (!string.IsNullOrEmpty(photoUser))
        {
                <div class="mx-2">
                    <img src="@photoUser" width="50" height="50" style="border-radius:50%" />
                </div>
        }
        <a href="Logout" class="nav-link btn btn-link">Cerrar Sesión</a>
    </Authorized>
    <NotAuthorized>
        <MatAppBarSection Align="@MatAppBarSectionAlign.End">
            <MatIconButton Icon="person" OnClick="@OpenDialog"></MatIconButton>
            <MatIconButton Icon="people" Link="Register"></MatIconButton>
        </MatAppBarSection>
    </NotAuthorized>
</AuthorizeView>

<MatDialog @bind-IsOpen="@dialogIsOpen">
    <EditForm Model="loginDTO" OnValidSubmit="LoginAsync">
        <MatDialogTitle>Entrar</MatDialogTitle>
        <MatDialogContent>
            <p>Inicia Sesión</p>
            
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                <p>
                    <MatTextField Label="Email" @bind-Value="@loginDTO.Email"/>
                    <ValidationMessage For="@(() => loginDTO.Email)"/>
                </p>
                <p>
                    <MatTextField Type="password" Label="Contrasenia" @bind-Value="@loginDTO.Password"/>
                    <ValidationMessage For="@(() => loginDTO.Password)"/>
                </p>
                <MatChipSet>
                    <MatChip Label="¿No eres usuario aún? Regístrate aquí"></MatChip>
                </MatChipSet>
                <MatChipSet>
                    <a mat-raised-button color="primary" href="/ResendToken">Reenviar correo de activación de cuenta</a>
                </MatChipSet>
                <MatChipSet>
                    <a mat-raised-button color="primary" href="/RecoverPassword">¿Has olvidado tu contraseña?</a>
                </MatChipSet>
            </div>
  
        </MatDialogContent>
        <MatDialogActions>
            <MatButton OnClick="@(e => { dialogIsOpen = false; })">No Gracias</MatButton>
            <MatButton Type="submit" Raised="true">Entrar</MatButton>
        </MatDialogActions>
    </EditForm>
</MatDialog>

        