<AuthorizeView>
    <Authorized>
        <span class="d-flex align-items-center">
            Hola, <a href="EditUser" class="nav-link btn btn-link">@context.User.Identity!.Name</a>
        </span>        
        @if (!string.IsNullOrEmpty(photoUser))
        {
                <div class="mx-2">
                    <img src="@photoUser" width="50" height="50" style="border-radius:50%" />
                </div>
        }
        <a href="Logout" class="nav-link btn btn-link">Cerrar Sesión</a>
    </Authorized>
    <NotAuthorized>
        <MatAppBarSection Align="@MatAppBarSectionAlign.End">
            <MatIconButton Icon="person" OnClick="@OpenDialog"></MatIconButton>
            <MatIconButton Icon="people" OnClick="@OpenDialogRegister"></MatIconButton>
        </MatAppBarSection>
    </NotAuthorized>
</AuthorizeView>

<MatDialog @bind-IsOpen="@dialogIsOpen">
    <EditForm Model="loginDTO" OnValidSubmit="LoginAsync">
        <DataAnnotationsValidator/>
        <MatDialogTitle>Entrar</MatDialogTitle>
        <MatDialogContent>
            <p>Inicia Sesión</p>
            
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                <p>
                    <MatTextField Label="Email" @bind-Value="loginDTO.Email"/>
                    <ValidationMessage For="@(() => loginDTO.Email)"/>
                </p>
                <p>
                    <MatTextField Type="password" Label="Contrasenia" @bind-Value="loginDTO.Password"/>
                    <ValidationMessage For="@(() => loginDTO.Password)"/>
                </p>
                <MatChipSet>
                    <MatChip Label="¿No eres usuario aún? Regístrate aquí"></MatChip>
                </MatChipSet>
                <MatChipSet>
                    <a mat-raised-button color="primary" href="/ResendToken">Reenviar correo de activación de cuenta</a>
                </MatChipSet>
                <MatChipSet>
                    <MatChip Label="¿Has olvidado tu contraseña?"></MatChip>
                </MatChipSet>
            </div>
  
        </MatDialogContent>
        <MatDialogActions>
            <MatButton OnClick="CloseDialog">No Gracias</MatButton>
            <MatButton Type="submit" Raised="true">Entrar</MatButton>
        </MatDialogActions>
    </EditForm>
</MatDialog>


<MatDialog @bind-IsOpen="@dialogIsOpenRegister">
    <EditForm Model="userDTO" OnValidSubmit="CreteUserAsync">
        <DataAnnotationsValidator/>
        <MatDialogTitle>Crear Usuario <MatButton style='float:right; margin-top: 1em' Outlined="true">Registrarme</MatButton></MatDialogTitle>
        <MatDialogContent>
            <p>Aqui te puedes dar de alta en nuestro sistema</p>
            <div class="mat-layout-grid">
                <div class="mat-layout-grid-inner">
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                        <p>
                            <MatTextField class="form-control" Label="Nombre" @bind-Value="@userDTO.FirstName" />
                            <ValidationMessage For="@(() => userDTO.FirstName)" />
                        </p>
                        <p>
                             <MatTextField class="form-control" Label="Apellido" @bind-Value="@userDTO.LastName" />
                             <ValidationMessage For="@(() => userDTO.LastName)" />
                        </p>
                        <p>
                             <MatTextField class="form-control" Label="Documento" @bind-Value="@userDTO.Document" />
                             <ValidationMessage For="@(() => userDTO.Document)" />
                        </p>
                        <p>
                            <MatTextField class="form-control" Label="Telefono" @bind-Value="@userDTO.PhoneNumber" />
                            <ValidationMessage For="@(() => userDTO.PhoneNumber)" />
                        </p>
                        <p>
                            <MatTextField class="form-control" Label="Direccion" @bind-Value="@userDTO.Address" />
                            <ValidationMessage For="@(() => userDTO.Address)" />
                        </p>
                        <p>
                            <MatTextField class="form-control" Label="Correo Electronico" @bind-Value="@userDTO.Email" />
                            <ValidationMessage For="@(() => userDTO.Email)" />
                        </p>
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                        <p>
                            <MatSelect Outlined="true" Label="Paises" ValueExpression="@( () => CountryId )"  ValueChanged="@((string value) => CountryChangedAsync(value))">
                                <MatOptionString Value="-1">All</MatOptionString>
                                @if (countries is not null)
                                {
                                    @foreach (var item in countries)
                                    {
                                      <MatOptionString Value="@item.Id.ToString()">@item.Name</MatOptionString>
                                    }
                                }
                            </MatSelect>
                        </p>
                        <p>
                            <MatSelect Outlined="true" Label="Departamentos" ValueExpression="@( () => StateId )"  ValueChanged="@((string value) => StateChangedAsync(value))">
                                <MatOptionString Value="-1">All</MatOptionString>
                                @if (states is not null)
                                {
                                    @foreach (var state in states)
                                    {
                                              <MatOptionString Value="@state.Id.ToString()">@state.Name</MatOptionString>
                                    }
                                }
                            </MatSelect>
                        </p>
                        <p>
                            <MatSelect Outlined="true" Label="Ciudades" TValue="int" @bind-Value="userDTO.CityId">
                                <MatOption Value="0">Seleccione ciudad</MatOption>
                                @if (cities is not null)
                                {
                                    @foreach (var citi in cities)
                                    {
                                              <MatOption  TValue="int" Value="@citi.Id">@citi.Name</MatOption>
                                    }
                                }
                            </MatSelect>
                            <ValidationMessage For="@(() => userDTO.CityId)" />
                        </p>
                        <p>
                             <MatTextField type="password"  Label="Contrasenia" class="form-control" @bind-Value="@userDTO.Password" />
                             <ValidationMessage For="@(() => userDTO.Password)" />
                        </p>
                        <p>
                            <MatTextField type="password"  Label="Confirmar contrasenia" class="form-control" @bind-Value="@userDTO.PasswordConfirm" />
                            <ValidationMessage For="@(() => userDTO.PasswordConfirm)" />
                        </p>
                        <p>
                            <InputImg Label="Foto" ImageSelected="ImageSelected" ImageURL="@imageUrl" />
                        </p>
                    </div>
                </div>
            </div>
        </MatDialogContent>
        <MatDialogActions>
            <MatButton OnClick="CloseDialogRegister">No Gracias, Lo hago despues</MatButton>
        </MatDialogActions>
    </EditForm>
</MatDialog>
        