<AuthorizeView>
    <Authorized>
        <span class="d-flex align-items-center">
            Hola, <a href="EditUser" class="nav-link btn btn-link">@context.User.Identity!.Name</a>
        </span>        
        @if (!string.IsNullOrEmpty(photoUser))
        {
                <div class="mx-2">
                    <img src="@photoUser" width="50" height="50" style="border-radius:50%" />
                </div>
        }
        <a href="Logout" class="nav-link btn btn-link">Cerrar Sesión</a>
    </Authorized>
    <NotAuthorized>
        <MatAppBarSection Align="@MatAppBarSectionAlign.End">
            <MatIconButton Icon="person" OnClick="@OpenDialog"></MatIconButton>
            <MatIconButton Icon="people" Link="Register"></MatIconButton>
        </MatAppBarSection>
    </NotAuthorized>
</AuthorizeView>

<MatDialog @bind-IsOpen="@dialogIsOpen">
    <MatDialogTitle>Entrar</MatDialogTitle>
    <MatDialogContent>
        <p>Inicia Sesión</p>
        
        <MatTextField @bind-Value="@dialogAnimal"></MatTextField>
        <MatTextField @bind-Value="@dialogAnimal"></MatTextField>
  
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@(e => { dialogIsOpen = false; })">No Gracias</MatButton>
        <MatButton >Entrar</MatButton>
    </MatDialogActions>
</MatDialog>

        