@page "/provider/create"


@if (loading)
{
        <Loading />
}
else
{
<EditForm Model="userDTO" OnValidSubmit="CreteUserAsync">
    <DataAnnotationsValidator/>
    <MatDialogTitle>Registrar Usuarios | Proveedor</MatDialogTitle>
    <MatDialogContent>
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    <p>
                        <MatTextField class="form-control" Label="Nombre" @bind-Value="@userDTO.FirstName" />
                        <ValidationMessage For="@(() => userDTO.FirstName)" />
                    </p>
                    <p>
                            <MatTextField class="form-control" Label="Apellido" @bind-Value="@userDTO.LastName" />
                            <ValidationMessage For="@(() => userDTO.LastName)" />
                    </p>
                    <p>
                            <MatTextField class="form-control" Label="Documento" @bind-Value="@userDTO.Document" />
                            <ValidationMessage For="@(() => userDTO.Document)" />
                    </p>
                    <p>
                        <MatTextField class="form-control" Label="Telefono" @bind-Value="@userDTO.PhoneNumber" />
                        <ValidationMessage For="@(() => userDTO.PhoneNumber)" />
                    </p>
                    <p>
                        <MatTextField class="form-control" Label="Direccion" @bind-Value="@userDTO.Address" />
                        <ValidationMessage For="@(() => userDTO.Address)" />
                    </p>
                    <p>
                        <MatTextField class="form-control" Label="Correo Electronico" @bind-Value="@userDTO.Email" />
                        <ValidationMessage For="@(() => userDTO.Email)" />
                    </p>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    <p>
                        <select class="form-select" @onchange="CountryChangedAsync">
                                <option value="0">-- Seleccione un país --</option>
                                @if (countries is not null)
                                {
                                    @foreach (var country in countries)
                                    {
                                        <option value="@country.Id">@country.Name</option>
                                    }
                                }
                         </select>

                    </p>
                    <p>
                       
                        <select class="form-select" @onchange="StateChangedAsync">
                            <option value="0">-- Seleccione un estado/departamento --</option>
                            @if (states is not null)
                            {
                                @foreach (var state in states)
                                {
                                    <option value="@state.Id">@state.Name</option>
                                }
                            }
                        </select>
                    </p>
                    <p>
                        <select class="form-select" @bind="userDTO.CityId">
                            <option value="0">-- Seleccione una ciudad --</option>
                            @if (cities is not null)
                            {
                                @foreach (var city in cities)
                                {
                                    <option value="@city.Id">@city.Name</option>
                                }
                            }
                        </select>
                        <ValidationMessage For="@(() => userDTO.CityId)" />
                    </p>
                    <p>
                        <select  class="form-select" @bind="userDTO.UserType">
                                @foreach (var value in UserType)
                            {
                                <option value="@value">@value</option>
                            }
                        </select>
                    </p>
                    <p>
                            <MatTextField type="password"  Label="Contrasenia" class="form-control" @bind-Value="@userDTO.Password" />
                            <ValidationMessage For="@(() => userDTO.Password)" />
                    </p>
                    <p>
                        <MatTextField type="password"  Label="Confirmar contrasenia" class="form-control" @bind-Value="@userDTO.PasswordConfirm" />
                        <ValidationMessage For="@(() => userDTO.PasswordConfirm)" />
                    </p>
                    <p>
                        <InputImg Label="Foto" ImageSelected="ImageSelected" ImageURL="@imageUrl" />
                    </p>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                <MatDialogActions>
                  <MatButton type="button" OnClick="CloseModalAsync">No Gracias</MatButton>
                  <MatButton type="submit">Guardar Cambios</MatButton>
                 </MatDialogActions>
                </div>
            </div>
        </div>

    </MatDialogContent>

</EditForm>

}

